#!/usr/bin/make -f

export PYBUILD_TEST_ARGS = --junit-xml=/dev/null

include /usr/share/dpkg/default.mk

%:
	dh $@ --buildsystem=pybuild

execute_after_dh_auto_install:
	rm debian/*/usr/share/doc/*/COPYING
